<div class="px-4 h-100">
	<div class="grid grid-cols-9">
		<app-status-bar class="col-span-9"></app-status-bar>
		<app-actions-bar class="col-span-9"></app-actions-bar>
		<app-microinteraction-selector class="col-span-2"></app-microinteraction-selector>
		<app-interaction-canvas class="col-span-5"></app-interaction-canvas>
		<app-interaction-options class="col-span-2"></app-interaction-options>
		<app-violation-output class="col-span-6 border h-100"></app-violation-output>
		<app-robot-viewer class="col-span-3"></app-robot-viewer>
	</div>
</div>