<div class="px-2 h-screen">
	<div class="grid grid-cols-9">
		<app-status-bar class="col-span-9 flex justify-between my-1 px-2"></app-status-bar>
		<app-actions-bar class="col-span-9 flex flex-wrap p-2 border-2 border-black bg-gray-300 box-border"></app-actions-bar>
		<app-microinteraction-selector class="col-span-1 border-2 border-black h-full"></app-microinteraction-selector>
		<app-interaction-canvas class="col-span-6"></app-interaction-canvas>
		<app-interaction-options id="interaction-right-panel" class="col-span-2 border-2 border-black h-full"></app-interaction-options>
		<app-violation-output class="col-span-6 h-full"></app-violation-output>
		<app-robot-viewer class="col-span-3 bg-[#557d83] w-full h-full"></app-robot-viewer>
	</div>
</div>