<button
	class="px-3 py-1.5 rounded-md text-white bg-blue-600 hover:bg-blue-700 shadow mx-0.5"
	[ngClass]="{'bg-blue-800': isAddingGroup === true}"
	(click)="addGroup()"
>
	+ Group
</button>
<button
	class="px-3 py-1.5 rounded-md text-white bg-blue-600 hover:bg-blue-700 shadow mx-0.5"
	[ngClass]="{'bg-blue-800': isAddingTransition === true}"
	(click)="addTransition()"
>
	+ Line
</button>
<button
	class="px-3 py-1.5 rounded-md text-white bg-blue-600 hover:bg-blue-700 shadow mx-0.5"
	(click)="exportToXML()"
>
	Export
</button>
<button
	class="px-3 py-1.5 rounded-md text-white bg-blue-600 hover:bg-blue-700 shadow mx-0.5"
	(click)="verifyModel()"
>
	Verify Model
</button>
<button
	class="px-3 py-1.5 rounded-md text-white bg-blue-600 hover:bg-blue-700 shadow mx-0.5"
	(click)="saveToFile()"
>
	Save To File
</button>

	<button
	class="px-3 py-1.5 rounded-md text-white bg-blue-600 hover:bg-blue-700 shadow mx-0.5"
	(click)="loadFromFile()"
>
	Load From File
</button>
<input type="file" id="interactionFileUpload" style="display: none" /> 
<button
	class="px-3 py-1.5 rounded-md text-white bg-red-600 hover:bg-red-700 shadow mx-0.5"
	(click)="clear()"
>
	Clear
</button>
