/* You can add global styles to this file, and also import other style files */
body {
  height: 100vh;
}

/*css for interaction design*/
.interaction-container {
  display: flex;
  height: 50%;
}

.interaction-sidebar-left {
  flex-basis: 170px;
  min-width: 150px;
  max-width: 150px;
  border: 2px solid black;
  margin-right: 0px;
  row-gap: 0px;
  background: white;
}

.interaction-sidebar-right {
  flex-basis: 230px;
  min-width: 150px;
  max-width: 150px;
  border: 2px solid black;
  margin-right: 0px;
  row-gap: 0px;
  z-index: 100;
  background: white;
}

/*css for main interaction canvas where DND(drag and drop) boxes are placed*/
.interaction-canvas {

  flex: 1;
  border: 5px solid #cccccc;
  position: relative;
  overflow-y: scroll;
  overflow-x: scroll;
}

.robot-viewer {
  background-color: rgb(85, 125, 131);
}

.interaction-output {
  min-height: 150px;
  border: 2px solid black;
  background-color: rgb(240, 217, 208);
}

.save-label{
    background: lightgreen;
}

.micro-box {
  background: lightgoldenrodyellow;
  height: 30px;
  border: 2px solid black;
  text-align: center;
  border-radius: 0.7rem;
  z-index: 9;
}

.group-box {
  position: absolute;
  width: 100px;
  height: 150px;
  border: 2px solid black;
  border-radius: .5rem;
  background: lightgray;
  left: 0;
  top: 0;
  z-index: 8;
}

.group-box-title{
  background: lightgray;
  width: 90%;
  margin-right: 2px;
  margin-left: 4px;
  border: .5px solid lightgray;
  text-align: center;
}
.group-box-selected {
  background: lightyellow;
}

.group-box-initial {
  border: greenyellow;
  border-width: 5px;
  border-style: groove;
}

.btn {
  margin: 0px 2px 0px 2px;
}

.svg-arrow {
  position: absolute;
  width: 100vw; /*TODO find out how to get this fully dynamic */
  height: 100vh;
  left: 0;
  top: 0;
  /*border: 2px solid black; */
  z-index: 10;
  pointer-events: none;
}

.svg-arrow-text {
  color: blue;
  pointer-events: auto;
  z-index: 10;
}

.arrow {
  stroke: rgb(0, 0, 0);
  stroke-width: 2;
  marker-end: url(#markerArrow);
  position: absolute;
  z-index: 90;
}

.arrow-text {
  font: 12px sans-serif;
}

.arrowSVG {
  background: darkgrey;
}

/* CSS for basic page layout */
.control-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline;
  background: lightGrey;
  border: 2px solid black;
}

.verif-navbar {
  background: darkgrey;
  border: 2px solid black;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-bar li {
  float: left;
}

.nav-bar li a {
  display: block;
  width: 50px;
  height: 10px;
  padding: 10px;
  color: green;
}

/* CSS for all tab objects */
.tabs {
  border: 1px solid #cccccc;
  display: flex;
}

.tabs-sidebar {
  width: 125px;
  flex-shrink: 0;
  background: #cccccc;
}

.tabs-button {
  display: block;
  padding: 10px;
  background: #eeeeee;
  border: none;
  width: 100%;
  outline: none;
  cursor: pointer;
}

.context-box {
  background: lightGrey;
  border: 2px solid black;
  z-index: 100;
  display: none;
}

.transitions-panel {
  display: none;
}

.tabs-button:active {
  background: yellow;
}

.tabs-button:hover {
  background: darkgrey;
}

.tab-button-active {
  background: lightgrey;
  font-weight: bold;
}

.tabs-content {
  padding: 15px;
  font-size: 0.8rem;
  display: none;
}

.tabs-content-active {
  display: block;
}

.split-clear {
  display: inline;
}

.array-items-box {
  width: 100%;
  height: auto;
  min-height: 50px;
  max-height: 130px;
  background-color: #ecebeb;
  border: 2px solid black;
  overflow: scroll;
}

.terminal-text{
  width: 100%;
  height: 100%;
  font-size: 14px;
}

.ask-item-box {
  overflow: scroll;
}
