<div class="container-fluid">
  <div class="row inline-flex text-center mb-2" style="font-size: 100%">
    <label style="font-size: 17px; border-bottom: 2px solid black">
      Micro-Interactions
    </label>
  </div>
  <div id="interaction-microinteraction-container" class="px-2">
    <div
      data-micro-type="Greeter"
      data-type="microtype-box"
      draggable="true"
      ondragstart="dragStart(event)"
      id="98a6698a-26c4-4832-a42c-7e7473bfc07a"
      class="micro-box mt-2 row justify-content-center"
    >
      Greeter
    </div>
    <div
      data-micro-type="Ask"
      data-type="microtype-box"
      draggable="true"
      ondragstart="dragStart(event)"
      id="bc891fa2-0ab8-42e4-ab3d-24d7f4ab7e15"
      class="micro-box mt-2 row justify-content-center"
    >
      Ask
    </div>
    <div
      data-micro-type="Remark"
      data-type="microtype-box"
      draggable="true"
      ondragstart="dragStart(event)"
      id="de609ee1-9cf5-42ba-a1aa-82b616f37fd3"
      class="micro-box mt-2 row justify-content-center"
    >
      Remark
    </div>
    <div
      data-micro-type="Instruction"
      data-type="microtype-box"
      draggable="true"
      ondragstart="dragStart(event)"
      id="cf5902f8-9301-4c9a-9c56-2b8363b3b993"
      class="micro-box mt-2 row justify-content-center"
    >
      Instruction
    </div>
    <div
      data-micro-type="Handoff"
      data-type="microtype-box"
      draggable="true"
      ondragstart="dragStart(event)"
      id="5dc1880d-3297-4ddd-a1df-e7d06dc0bcac"
      class="micro-box mt-2 row justify-content-center"
    >
      Handoff
    </div>
    <div
      data-micro-type="Answer"
      data-type="microtype-box"
      draggable="true"
      ondragstart="dragStart(event)"
      id="9802cf74-b62c-40d4-a9fa-651b410c1e55"
      class="micro-box mt-2 row justify-content-center"
    >
      Answer
    </div>
    <div
      data-micro-type="Wait"
      data-type="microtype-box"
      draggable="true"
      ondragstart="dragStart(event)"
      id="910909b7-c457-49c0-88da-c643a69e3f06"
      class="micro-box mt-2 row justify-content-center"
    >
      Wait
    </div>
    <div
      data-micro-type="Farewell"
      data-type="microtype-box"
      draggable="true"
      ondragstart="dragStart(event)"
      id="008ed6d1-6775-4937-bcfa-841432b2c243"
      class="micro-box mt-2 row justify-content-center"
    >
      Farewell
    </div>
  </div>
</div>
