<div class="w-full mb-2 text-center border-b-2 border-b-black">
  <label class="text-sm">
    Micro-Interactions
  </label>
</div>
<div id="interaction-microinteraction-container" class="px-2">
  <div
    draggable="true"
    (dragstart)="dragStart('Greeter')"
    class="z-10 h-8 mb-2 text-center bg-yellow-100 border-2 border-black rounded-xl"
  >
    Greeter
  </div>
  <div
    draggable="true"
    (dragstart)="dragStart('Ask')"
    class="z-10 h-8 mb-2 text-center bg-yellow-100 border-2 border-black rounded-xl"
  >
    Ask
  </div>
  <div
    draggable="true"
    (dragstart)="dragStart('Remark')"
    class="z-10 h-8 mb-2 text-center bg-yellow-100 border-2 border-black rounded-xl"
  >
    Remark
  </div>
  <div
    draggable="true"
    (dragstart)="dragStart('Instruction')"
    class="z-10 h-8 mb-2 text-center bg-yellow-100 border-2 border-black rounded-xl"
  >
    Instruction
  </div>
  <div
    draggable="true"
    (dragstart)="dragStart('Handoff')"
    class="z-10 h-8 mb-2 text-center bg-yellow-100 border-2 border-black rounded-xl"
  >
    Handoff
  </div>
  <div
    draggable="true"
    (dragstart)="dragStart('Answer')"
    class="z-10 h-8 mb-2 text-center bg-yellow-100 border-2 border-black rounded-xl"
  >
    Answer
  </div>
  <div
    draggable="true"
    (dragstart)="dragStart('Wait')"
    class="z-10 h-8 mb-2 text-center bg-yellow-100 border-2 border-black rounded-xl"
  >
    Wait
  </div>
  <div
    draggable="true"
    (dragstart)="dragStart('Farewell')"
    class="z-10 h-8 mb-2 text-center bg-yellow-100 border-2 border-black rounded-xl"
  >
    Farewell
  </div>
</div>
