<div class="w-full mb-2 text-center border-b-2 border-b-black">
  <label class="text-sm">
    Micro-Interactions
  </label>
</div>
<div id="interaction-microinteraction-container" class="px-2">
  <div
    data-micro-type="Greeter"
    data-type="microtype-box"
    draggable="true"
    (dragstart)="dragStart($event)"
    id="98a6698a-26c4-4832-a42c-7e7473bfc07a"
    class="z-10 h-8 mb-2 text-center bg-yellow-100 border-2 border-black rounded-xl"
  >
    Greeter
  </div>
  <div
    data-micro-type="Ask"
    data-type="microtype-box"
    draggable="true"
    (dragstart)="dragStart($event)"
    id="bc891fa2-0ab8-42e4-ab3d-24d7f4ab7e15"
    class="z-10 h-8 mb-2 text-center bg-yellow-100 border-2 border-black rounded-xl"
  >
    Ask
  </div>
  <div
    data-micro-type="Remark"
    data-type="microtype-box"
    draggable="true"
    (dragstart)="dragStart($event)"
    id="de609ee1-9cf5-42ba-a1aa-82b616f37fd3"
    class="z-10 h-8 mb-2 text-center bg-yellow-100 border-2 border-black rounded-xl"
  >
    Remark
  </div>
  <div
    data-micro-type="Instruction"
    data-type="microtype-box"
    draggable="true"
    (dragstart)="dragStart($event)"
    id="cf5902f8-9301-4c9a-9c56-2b8363b3b993"
    class="z-10 h-8 mb-2 text-center bg-yellow-100 border-2 border-black rounded-xl"
  >
    Instruction
  </div>
  <div
    data-micro-type="Handoff"
    data-type="microtype-box"
    draggable="true"
    (dragstart)="dragStart($event)"
    id="5dc1880d-3297-4ddd-a1df-e7d06dc0bcac"
    class="z-10 h-8 mb-2 text-center bg-yellow-100 border-2 border-black rounded-xl"
  >
    Handoff
  </div>
  <div
    data-micro-type="Answer"
    data-type="microtype-box"
    draggable="true"
    (dragstart)="dragStart($event)"
    id="9802cf74-b62c-40d4-a9fa-651b410c1e55"
    class="z-10 h-8 mb-2 text-center bg-yellow-100 border-2 border-black rounded-xl"
  >
    Answer
  </div>
  <div
    data-micro-type="Wait"
    data-type="microtype-box"
    draggable="true"
    (dragstart)="dragStart($event)"
    id="910909b7-c457-49c0-88da-c643a69e3f06"
    class="z-10 h-8 mb-2 text-center bg-yellow-100 border-2 border-black rounded-xl"
  >
    Wait
  </div>
  <div
    data-micro-type="Farewell"
    data-type="microtype-box"
    draggable="true"
    (dragstart)="dragStart($event)"
    id="008ed6d1-6775-4937-bcfa-841432b2c243"
    class="z-10 h-8 mb-2 text-center bg-yellow-100 border-2 border-black rounded-xl"
  >
    Farewell
  </div>
</div>
