<div class="flex flex-wrap p-2 border-2 border-black bg-gray-300 box-border">
	<button
		id="newGroupBtn"
		class="px-3 py-1.5 rounded-md text-white bg-blue-600 hover:bg-blue-700 shadow mx-0.5"
		value="newGroup"
		onclick="newGroupBtnPressed(this)"
	>
		+ Group
	</button>
	<button
		id="drawLineBtn"
		class="px-3 py-1.5 rounded-md text-white bg-blue-600 hover:bg-blue-700 shadow mx-0.5"
		value="drawLine"
		onclick="newLineBtnPressed(this)"
	>
		+ Line
	</button>
	<button
		id="exportToXML"
		class="px-3 py-1.5 rounded-md text-white bg-blue-600 hover:bg-blue-700 shadow mx-0.5"
		value="export"
		onclick="exportToXML()"
	>
		Export
	</button>
	<button
		id="exportToXML"
		class="px-3 py-1.5 rounded-md text-white bg-blue-600 hover:bg-blue-700 shadow mx-0.5"
		value="export"
		onclick="verifyModel()"
	>
		Verify Model
	</button>
	<button
		id="saveToFile"
		class="px-3 py-1.5 rounded-md text-white bg-blue-600 hover:bg-blue-700 shadow mx-0.5"
		value="saveToFile"
		onclick="saveToFile()"
	>
		Save To File
	</button>

		<button
		id="loadFromFile"
		class="px-3 py-1.5 rounded-md text-white bg-blue-600 hover:bg-blue-700 shadow mx-0.5"
		value="saveToFile"
		onclick="loadFromFile()"
	>
		Load From File
	</button>
	<input type="file" id="interactionFileUpload" style="display: none" /> 
	<button
		id="clearAllBtn"
		class="px-3 py-1.5 rounded-md text-white bg-red-600 hover:bg-red-700 shadow mx-0.5"
		value="saveToFile"
		onclick="clearAll()"
	>
		Clear
	</button>
</div>