<svg
  *ngIf="transition != undefined"
  class="absolute top-0 left-0 w-[5000px] h-[3000px] pointer-events-none z-10"
  xmlns="http://www.w3.org/2000/svg"
>
  <defs>
    <marker id="arrowhead" markerWidth="10" markerHeight="7"
    refX="0" refY="3.5" orient="auto">
      <polygon points="0 0, 10 3.5, 0 7" />
    </marker>
  </defs>
  <line *ngIf="isLine" [attr.x1]="x1" [attr.y1]="y1" [attr.x2]="x2" [attr.y2]="y2" stroke="#000"
  stroke-width="2" marker-end="url(#arrowhead)" />
  <path *ngIf="!isLine" [attr.d]="d" stroke="#000" stroke-width="2px" fill="transparent" marker-end="url(#arrowhead)"></path>
</svg>
<div
  class="absolute z-40 flex flex-row justify-between h-10 p-1 bg-gray-300 rounded w-36"
  [style.top]="conditionsY"
  [style.left]="conditionsX"
  (contextmenu)='showContextMenu($event)'
>
  <div>
    <input type="checkbox" id="readyInput" [(ngModel)]="isReady" (change)="updateTransition()" class="hidden">
    <label
      [ngClass]="isReady ? 'bg-green-600 hover:bg-green-700' : 'bg-gray-500 hover:bg-gray-400'"
      for="readyInput"
      class="w-full p-1 text-center text-white border-black cursor-pointer rounded-md"
    >
      Ready
    </label>
  </div>
  <div>
    <input type="checkbox" id="notReadyInput" [(ngModel)]="isNotReady" (change)="updateTransition()" class="hidden">
    <label
      [ngClass]="isNotReady ? 'bg-red-600 hover:bg-red-700' : 'bg-gray-500 hover:bg-gray-400'"
      for="notReadyInput"
      class="w-full p-1 text-center text-white border-black cursor-pointer rounded-md"
    >
      Not Ready
    </label>
  </div>
</div>
