<svg
  *ngIf="transition != undefined"
  class="absolute top-0 left-0 w-[5000px] h-[3000px] pointer-events-none z-10"
  xmlns="http://www.w3.org/2000/svg" 
>
  <defs>
    <marker id="arrowhead" markerWidth="10" markerHeight="7" 
    refX="0" refY="3.5" orient="auto">
      <polygon points="0 0, 10 3.5, 0 7" />
    </marker>
  </defs>
  <line *ngIf="isLine" [attr.x1]="x1" [attr.y1]="y1" [attr.x2]="x2" [attr.y2]="y2" stroke="#000" 
  stroke-width="2" marker-end="url(#arrowhead)" />
  <path *ngIf="!isLine" [attr.d]="d" stroke="#000" stroke-width="2px" fill="transparent" marker-end="url(#arrowhead)"></path>
</svg>
