<svg
  *ngIf="transition != undefined"
  class="absolute top-0 left-0 w-[5000px] h-[3000px] pointer-events-none z-10"
  xmlns="http://www.w3.org/2000/svg"
>
  <defs>
    <marker id="arrowhead" markerWidth="10" markerHeight="7"
    refX="0" refY="3.5" orient="auto">
      <polygon points="0 0, 10 3.5, 0 7" />
    </marker>
  </defs>
  <line *ngIf="isLine" [attr.x1]="x1" [attr.y1]="y1" [attr.x2]="x2" [attr.y2]="y2" stroke="#000"
  stroke-width="2" marker-end="url(#arrowhead)" />
  <path *ngIf="!isLine" [attr.d]="d" stroke="#000" stroke-width="2px" fill="transparent" marker-end="url(#arrowhead)"></path>
</svg>
<div
  class="absolute z-40 flex w-48 h-10 p-1 bg-gray-300 rounded"
  [style.top]="conditionsY"
  [style.left]="conditionsX"
  (contextmenu)='showContextMenu($event)'
>
  <button
    (click)="isReady = !isReady; updateTransition()"
    [ngClass]="isReady ? 'bg-green-600 hover:bg-green-700' : 'bg-gray-500 hover:bg-gray-400'"
    class="w-1/2 p-1 text-center text-white border-black cursor-pointer rounded-l-md"
  >
    Ready
  </button>
  <button
    (click)="isNotReady = !isNotReady; updateTransition()"
    [ngClass]="isNotReady ? 'bg-red-600 hover:bg-red-700' : 'bg-gray-500 hover:bg-gray-400'"
    class="w-1/2 p-1 text-center text-white border-black cursor-pointer rounded-r-md"
  >
    Not Ready
  </button>
</div>
