<div *ngIf="micro">
  <div class="text-center border-b-2 border-black">
    {{ micro.type }} Options
  </div>
  <div *ngFor="let param of micro.parameters; let idx=index;">
    <app-parameter-options 
      [microType]="micro.type" 
      [param]="param"
      [name]="'boolParam' + idx"
      [index]="idx"
      [result]="paramRes[idx]"
      (resultEmitter)="setResults(idx, $event)"
    ></app-parameter-options>
  </div>
  <div *ngIf="micro.parameters.length == 0; else save" class="p-2">
    No options for this micro-interaction
  </div>
  <ng-template #save>
    <div class="flex items-center justify-center w-full">
      <button
        class="px-3 py-1.5 rounded-md text-white bg-blue-600 hover:bg-blue-700 shadow mx-0.5"
        (click)="saveOptions()"
      >Save</button>
    </div>
  </ng-template>
</div>


<!--
<div id="transition-states-panel" class = "transitions-panel row" hideable="true" style="display:none;">
	<label style="font-size: 15px; border-bottom: 2px solid black;">
	Select States to Transition on
	</label>
	<div class="mt-4 row col-md-6 offset-md-2 ">
		<div class = "col">
			<input type="checkbox" name="ready" id="context-ready" value="ready" onclick="updateTransition()">
			<label for="context-ready">Ready</label>
		</div>  
	</div>

	<div class="mt-4 row col-md-6 offset-md-2 ">
		<div class = "col">
			<input type="checkbox" name="busy" id="context-busy"  value="busy" onclick="updateTransition()"> 
			<label for="context-busy">Busy</label>
		</div>  
	</div>

	<div class="mt-4 row col-md-8 offset-md-2 ">
		<div class = "col">
		<input type="checkbox" name="suspended" id="context-suspended"  value="suspended" onclick="updateTransition()"> 
		<label for="context-suspended">Suspended</label>
		</div>  
	</div>
</div>
-->
