<div 
  class="absolute w-24 h-48 bg-gray-300 border-2 border-black rounded-lg"
  [style.left]='x'
  [style.top]='y'
  (contextmenu)='showContextMenu($event)'
  cdkScrollable
  cdkDragBoundary=".bounding-canvas"
  cdkDrag
  (cdkDragEnded)="droppedGroup($event)"
  (dragover)="allowDrop($event)"
  (drop)="dropMicro()"
>
  <input type="text" (change)="updateName($event)" [value]="group.name" class="bg-gray-300 w-[90%] ml-1 mr-0.5 border-gray-300 text-center">
  <div *ngFor="let micro of group.micros">
    <app-micro [micro]="micro" [groupId]="group.id"></app-micro>
  </div>
</div>
