.robot-box {
  background-color: blanchedalmond;
  border: 2px solid black;
  width: 500px;
  height: 700px;
  position: relative;
}
.robot-control-panel {
  background-color: aqua;
  width: 500px;
  height: 200px;
}

.robot-arm-left {
  left: 80;
  top: 30px;
}
