/*css for interaction design*/
.interaction-container {
  display: flex;
  flex: 0px;
}

.interaction-sidebar-left {
  flex-basis: 170px;
  min-width: 150px;
  max-width: 150px;
  border: 2px solid black;
  margin-right: 0px;
  row-gap: 0px;
  background: white;
}

.interaction-sidebar-right {
  flex-basis: 230px;
  min-width: 150px;
  max-width: 150px;
  border: 2px solid black;
  margin-right: 0px;
  row-gap: 0px;
  z-index: 100;
  background: white;
}

/*css for main interaction canvas where DND(drag and drop) boxes are placed*/
.interaction-canvas {
  min-height: 400px;
  height: auto;
  flex: 1;

  border: 5px solid #cccccc;
  position: relative;
  overflow-y: scroll;
  overflow-x: scroll;
}

.micro-box {
  background: lightgoldenrodyellow;
  height: 30px;
  border: 2px solid black;
  text-align: center;
  border-radius: 0.7rem;
  z-index: 9;
}

.group-box {
  position: absolute;
  width: 100px;
  height: 150px;
  border: 2px solid black;
  background: lightgray;
  left: 0;
  top: 0;
  z-index: 8;
}

.group-box-selected {
  background: lightyellow;
}

.group-box-initial {
  border: greenyellow;
  border-width: 5px;
  border-style: groove;
}

.button-unpressed {
  background-color: lightgray;
}

.button-pressed {
  background-color: darkgrey;
}

.svg-arrow {
  position: absolute;
  width: 100vw; /*TODO find out how to get this fully dynamic */
  height: 100vh;
  left: 0;
  top: 0;
  /*border: 2px solid black; */
  z-index: 10;
  pointer-events: none;
}

.svg-arrow-text {
  color: blue;
  pointer-events: auto;
  z-index: 10;
}

.arrow {
  stroke: rgb(0, 0, 0);
  stroke-width: 2;
  marker-end: url(#markerArrow);
  position: absolute;
  z-index: 90;
}

.arrow-text {
  font: 12px sans-serif;
}

.arrowSVG {
  background: darkgrey;
}

/* CSS for basic page layout */
.control-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline;
  background: lightGrey;
  border: 2px solid black;
}

.verif-navbar {
  background: darkgrey;
  border: 2px solid black;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-bar li {
  float: left;
}

.nav-bar li a {
  display: block;
  width: 50px;
  height: 10px;
  padding: 10px;
  color: green;
}

/* CSS for all tab objects */
.tabs {
  border: 1px solid #cccccc;
  display: flex;
}

.tabs-sidebar {
  width: 125px;
  flex-shrink: 0;
  background: #cccccc;
}

.tabs-button {
  display: block;
  padding: 10px;
  background: #eeeeee;
  border: none;
  width: 100%;
  outline: none;
  cursor: pointer;
}

.context-box {
  background: lightGrey;
  border: 2px solid black;
  z-index: 100;
  display: none;
}

.transitions-panel {
  display: none;
}

.tabs-button:active {
  background: yellow;
}

.tabs-button:hover {
  background: darkgrey;
}

.tab-button-active {
  background: lightgrey;
  font-weight: bold;
}

.tabs-content {
  padding: 15px;
  font-size: 0.8rem;
  display: none;
}

.tabs-content-active {
  display: block;
}
